* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerMovie {
    width: 80%;
    min-height: 200px;
    border: 2px solid green;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.containerMovie:hover {
    width: 95%;
    min-height: 300px;
    box-shadow: 10px 10px rgba(255, 255, 255, 1);
}

.background00 {
    background-image: url('../assets/01.jpg');
}

.background01 {
    background-image: url('../assets/02.jpg');
}

.background02 {
    background-image: url('../assets/03.jpg');
}

.background03 {
    background-image: url('../assets/04.jpg');
}