* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #15003d;
}

.containerSection p {
    font-size: large;
    color: white;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.movieList {
    display: flex;
    flex-direction: row;
}