.containerSlider {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
}

.listSlides {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}